.navbarMA {
    max-width: 1140px; // Match the hero content's max-width
    width: 100%; // Responsive width
    margin: 0 auto; // Center the navbar horizontally
    display: flex;
    justify-content: space-between; // Adjust spacing between elements
    align-items: center; // Center vertically
  }
.navbarLinks {
  border-radius: 800px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
