@use "../../styles/variables" as *; // Import global variables

.heroContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .heroMA {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;

    .heroMainContent {
      flex: 1;
      text-align: center;

      .title {
        font-size: $font-size-large;
        font-weight: bold;
        color: $white;
      }
    }
  }

  .ctaButtonContainer {
    display: flex;
    gap: $spacing-small;
    justify-content: center;
    margin-top: $spacing-medium;
  }

  .email,
  .social {
    width: 40px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: $spacing-xsmall;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $white;
    font-size: $font-size-small;
    min-width: 100px;
  }

  .email {
    left: 0;
    text-align: center;
    writing-mode: vertical-rl;
  }

  .social {
    right: 0;
    text-align: center;

    .socialIcon {
      width: 50px;
      min-height: 50px;
      background-color: $gray-dark;
      border-radius: $border-radius-large;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $gray-dark;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }


}

  .CTAButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-small $spacing-medium;
    gap: $spacing-xsmall;
    font-size: $font-size-small;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: $border-radius-large;
    min-width: 175px;
  }

  .CTAButtonPrimary {
    color: $white;
    background: $primary-color;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: darken($primary-color, 10%);
      transform: translateY(-2px);
      box-shadow: 0px 0px 12px rgba(255, 0, 0, 0.8);
    }
  }

  .CTAButtonSecondary {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white;
      color: $black;
      transform: translateY(-2px);
      box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
  }