@use "../../styles/variables" as *;

.portfolioContainer {
  background-color: $white;
  color: $black;
  padding: 80px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;

  .portfolioHeader {
    text-align: center;
  }

  .portfolioCarousel {
    display: flex;
    justify-content: center;
  }

  .portfolioCarouselItem {
    width: 734px;
    height: 490px;
    border-radius: 20px;
  }
}
