@use "../../styles/variables" as *;

.servicesContainer {
  padding: $spacing-large 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .serviceCards {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    gap: $spacing-medium; // Maintaining original spacing
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;

    @include respond-to("md") {
      gap: $spacing-small;
      grid-template-columns: repeat(2, minmax(400px, 1fr));
    }

    @include respond-to("sm") {
      gap: $spacing-medium;
      grid-template-columns: 1fr;
      width: 90%;
    }
  }

  .serviceCard {
    display: flex;
    flex-direction: row;
    padding: $spacing-medium; // Original padding maintained
    gap: $spacing-medium;
    text-align: left;
    border-radius: $border-radius-large;
    border: none;
    background: $white;
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);
    max-width: 650px;
    transition: all 0.3s ease-in-out;

    @include respond-to("md") {
      gap: $spacing-small;
      padding: $spacing-small; // Original padding maintained
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: $shadow-dark;
      background: rgba($white, 0.95);
    }

    .iconContainer {
      width: 100px;
      height: 50px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      color: $white;
      align-items: center;

      @include respond-to("xs") {
       // width: 75px;
      }
    }

    .icon {
      vertical-align: middle;
      display: inline-block;
      margin: $spacing-xsmall 0;
    }
  }

  .serviceTitle {
    margin-bottom: $spacing-xsmall;
  }
}
