// Colors
$primary-color: #FE2D1A;
$secondary-color: #000000;
$tertiary-color: #ffffff;

// Typography
$font-primary: 'Poppins', sans-serif;
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

// Shadows
$shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
